<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h1>About Me</h1>

                <p>Hello there</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>